.container{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px;
    background: #fff;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    margin: 8px;
}
.info{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 16px;
}

.controls{
    display: flex;
    align-items: center;
    gap: 4px;
}
.delete, .save{
    width: 32px;
    height: 32px;
    border-radius: 4px;
}
.save{

}
.name{
    border:none;
    padding: 8px;
    width: fit-content;
    max-width: 100%;
    border-radius: 4px;
    background: #fafafa;
}
.photo{
    width: 64px;
    height: 64px;
    border-radius: 4px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.custom-file-upload {
    display: inline-block;
    padding: 4px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    height: auto;
}

.input[type="file"] {
    display: none;
}

.img {
    width: 100%;
    height: auto;
}
.category{
    margin-top: 8px;
    margin-left: 8px;
    font-weight: 700;
    text-decoration: underline;
    font-size: 12px;

}
