.container{
    width: 100%;
    gap: 8px;
    display: flex;
    align-items: center;
    /*justify-content: space-around;*/
    flex-wrap: wrap;
    padding: 8px;
    background: #fffafa;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    margin: 8px;
    position: relative;
}
.new_container{
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
.username{
    font-size: 14px;
    text-decoration: underline;
}
.info{
    display: flex;
    gap: 8px;
    align-items: center;
}

.controls{
    display: flex;
    align-items: center;
    gap: 4px;
}
.new{
    position: absolute;
    top: 8px;
    right: 6px;
    font-size: 10px;
}
.delete, .save{
    width: 32px;
    height: 32px;
    border-radius: 4px;
}
.save{

}
.name{
    border:none;
    padding: 8px;
    width: fit-content;
    max-width: 100%;
    border-radius: 4px;
    background: #fafafa;
}
.photo{
    width: 64px;
    height: 64px;
    border-radius: 4px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.custom-file-upload {
    display: inline-block;
    padding: 4px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 64px;
    height: 64px;
}

.input[type="file"] {
    display: none;
}

.img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
