.places{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  padding: 16px;
  &__active{
    background: blue !important;
    border:none;
    color: #fff;
  }
  &__item{
    font-size: 14px;
    padding: 4px 8px;
    background: #fff;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    cursor: pointer;
  }


}
.ratings{
  display: flex;
  flex-wrap: wrap;
}

