.container{
    margin-top: 16px;
}
.title{
    font-weight: 500;
    margin-left: 4px;
}
.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    border-radius: 8px;
    background: #fff;
    padding: 8px 12px;
    width: fit-content;

}

.form-group {
    display: flex;
    flex-direction: column;
}

.custom-file-upload {
    display: inline-block;
    padding: 4px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    max-width: 64px;
    height: 64px;
}

.input[type="file"] {
    display: none;
}

.img {
    width: 100%;
    max-width: 64px;
    height: auto;
    max-height: 64px;
}
.upload_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}
.upload_btn svg{
    margin: 0 auto;
}
.input[type="text"] {
    font-size: 16px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}
.btn{
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
}
